<html>
  <body>
    <form action="/weather/location">
      <label for="name">Name:</label><br>
      <input type="text" placeholder="name"><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html> 